<img class= 'img' src='https://www.chimpstickers.com/wp-content/uploads/2017/11/cute-things024-hamburguer.png'>
<h3>Eat The Burger</h3>
<hr>

<div class='eaten'>
  <p>Burgers Eaten</p>
  <ul>
  {{#each burger}}
  {{#unless devoured}}
    {{> burger/burger-block devour=1}}
  {{/unless}}
  {{/each}}
  </ul>
</div>
 
 <div class='notEaten'>
  <p>Burgers Not Eaten</p>
  <ul>
  {{#each burger}}
  {{#if devoured}}
    {{> burger/burger-block devour=0}}
  {{/if}}
  {{/each}}
  </ul>
</div>

<div class= 'form'>
<form id="addBurger">
  <input type="text" name="burger">
  <button type="submit">Submit Burger!</button>
</form>
</div>

